<section class="main-slider">

    <div class="promotion bg-amber-300">
      <img priority="high" ngSrc="/imgs/pro.jpg" width="1440" height="80" class="w-full object-contain" alt="pro img">
    </div>

        <owl-carousel-o [options]="customOptions">
          <ng-template carouselSlide >
            <img priority="high" width="1440" height="300" ngSrc="/imgs/1.png" class="carousel-image" alt="">
          </ng-template>
          <ng-template carouselSlide>
            <img priority="high" width="1440" height="300" ngSrc="/imgs/2.png" class="carousel-image" alt="">
          </ng-template>
          <ng-template carouselSlide>
            <img priority="high" width="1440" height="300" ngSrc="/imgs/3.png" class="carousel-image" alt="">

          </ng-template>
          <ng-template carouselSlide>
            <img priority="high" width="1440" height="300" ngSrc="/imgs/4.png" class="carousel-image" alt="">

          </ng-template>
          <ng-template carouselSlide>
            <img priority="high" width="1440" height="300" ngSrc="/imgs/5.png" class="carousel-image" alt="">

          </ng-template>
        </owl-carousel-o>

</section>
