<section class="py-10 px-5 min-h-dvh">


  <div class="container max-w-screen-xl mx-auto ">
    <div class="flex items-center max-md:flex-wrap  mb-10 justify-between">
      <h2 class="header grow flex  items-center">
        Our <span class="text-nav ms-1">Products</span>
      </h2>

      <div class="relative md:grow max-md:w-full">
        <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
          <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
            fill="none" viewBox="0 0 20 20">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
          </svg>
        </div>
        <input type="search" id="default-search" [(ngModel)]="searchValue"
          class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50  focus:outline-nav dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
          placeholder="Search Mockups, Logos..." required />
      </div>



    </div>

    <div class="grid grid-cols-12 gap-5">
      @for (product of products()|search:searchValue; track product._id) {
      <div id="product-card"
        class="rounded-md group cursor-pointer overflow-hidden border border-gray-300 px-2 pt-2 pb-4 shadow lg:col-span-3 md:col-span-4 col-span-12">

        <app-product-card (addToWish)="addProductToWish($event)" (addToCart)="addProductToCart($event)"
          [product]="product" />
      </div>
      }
    </div>











    <app-pagination [totalPages]="totalPages" (currentPageChange)="getPage($event)" />





  </div>

</section>
