<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <a routerLink="/" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
      <img class="w-full h-8 mr-2" src="/imgs/freshcart-logo.svg" alt="logo">
      <!-- Flowbite -->
    </a>
    <div
      class="w-full p-6 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md dark:bg-gray-800 dark:border-gray-700 sm:p-8">
      <h2 class="mb-1 capitalize text-center text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
        forget Password
      </h2>
      <form class="mt-4 space-y-4 lg:mt-5 md:space-y-5" (ngSubmit)="getCode(forgetForm)" #forgetForm="ngForm">
        <div>
          <input #email="ngModel" [(ngModel)]="userEmail" type="email" name="email" id="email"
            class="form-input"
            placeholder="Enter your email address here.."
            required
            email>
        </div>


        <button [disabled]="forgetForm.invalid" [class]="{
          'bg-gray-700/80':forgetForm.invalid
        }" type="submit"
          class="w-full form-btn capitalize">
          Send Code</button>
      </form>
    </div>
  </div>
</section>
