<section class="bg-gray-50 dark:bg-gray-900">
  <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
    <a routerLink="/" class="flex items-center mb-6 text-2xl font-semibold text-gray-900 dark:text-white">
      <img class="w-full h-8 mr-2" src="/imgs/freshcart-logo.svg" alt="logo">
      <!-- Flowbite -->
    </a>
    <div
      class="w-full p-6 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md dark:bg-gray-800 dark:border-gray-700 sm:p-8">
      <h2
        class="mb-1 capitalize text-center text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
        received code
      </h2>
    <form class="max-w-sm  mx-auto">
      <div class="flex mb-2 space-x-2 justify-center rtl:space-x-reverse">
        <div>
          <label for="code-1" class="sr-only">First code</label>
          <input type="text" maxlength="1" data-focus-input-init data-focus-input-next="code-2" id="code-1"
            class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            required />
        </div>
        <div>
          <label for="code-2" class="sr-only">Second code</label>
          <input type="text" maxlength="1" data-focus-input-init data-focus-input-prev="code-1"
            data-focus-input-next="code-3" id="code-2"
            class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            required />
        </div>
        <div>
          <label for="code-3" class="sr-only">Third code</label>
          <input type="text" maxlength="1" data-focus-input-init data-focus-input-prev="code-2"
            data-focus-input-next="code-4" id="code-3"
            class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            required />
        </div>
        <div>
          <label for="code-4" class="sr-only">Fourth code</label>
          <input type="text" maxlength="1" data-focus-input-init data-focus-input-prev="code-3"
            data-focus-input-next="code-5" id="code-4"
            class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            required />
        </div>
        <div>
          <label for="code-5" class="sr-only">Fifth code</label>
          <input type="text" maxlength="1" data-focus-input-init data-focus-input-prev="code-4"
            data-focus-input-next="code-6" id="code-5"
            class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            required />
        </div>
        <div>
          <label for="code-6" class="sr-only">Sixth code</label>
          <input type="text" maxlength="1" data-focus-input-init data-focus-input-prev="code-5" id="code-6"
            class="block w-9 h-9 py-3 text-sm font-extrabold text-center text-gray-900 bg-white border border-gray-300 rounded-lg focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
            required />
        </div>
      </div>
      <p id="helper-text-explanation" class="mt-2 text-center text-sm text-gray-500 dark:text-gray-400">Please introduce the 6 digit
        code we sent via email.</p>
    </form>

    </div>
  </div>
</section>
