/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";
@source "../node_modules/flowbite";

@theme {
  --color-nav:#FFD95F;
  --font-main:"segoe ui light";
  --color-rating:#38AE04;
}


@layer components {
  .nav-link {
    @apply flex gap-x-1 items-center py-2 px-3 hover:text-gray-600 tracking-tighter rounded-sm md:bg-transparent md:text-black capitalize text-xl md:p-0 dark:text-white md:dark:text-blue-500
  }
  .drop-item {
    @apply flex items-center gap-x-2 text-[17px] px-4 py-2 hover:bg-gray-100 dark:hover:bg-gray-600 dark:hover:text-white
  }
  .header {
    @apply font-bold flex uppercase text-3xl mb-5 before:content-[''] before:me-2 before:w-2 before:h-10 before:inline-block before:bg-nav;
  }
  .view-all {
   @apply text-gray-900 mb-5 capitalize bg-white border border-gray-300 focus:outline-none hover:bg-gray-100  font-bold rounded-lg text-lg cursor-pointer px-5 py-2.5 me-2  dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700
  }
  .form-input {
    @apply bg-gray-50 placeholder:capitalize placeholder:tracking-tight border ring-0 outline-0 border-gray-300 text-gray-900 text-sm rounded-lg  block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white
  }
  .form-btn {
    @apply w-full text-white bg-gray-700 hover:bg-gray-800 cursor-pointer text-[18px] uppercase focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
  }
  .nav-list {
   @apply font-medium flex flex-col p-4 md:p-0 mt-4 border border-gray-100 rounded-lg  md:flex-row md:space-x-8 rtl:space-x-reverse md:mt-0 md:border-0  dark:bg-gray-800 md:dark:bg-gray-900 dark:border-gray-700
  }
  .invalid-input {
    @apply bg-red-50 border border-red-500 text-red-900 placeholder-red-700 text-sm rounded-lg focus:ring-red-500 dark:bg-gray-700 focus:border-red-500 block w-full p-2.5 dark:text-red-500 dark:placeholder-red-500 dark:border-red-500
  }
  .valid-input {
    @apply bg-green-50 border border-green-500 text-green-900 dark:text-green-400 placeholder-green-700 dark:placeholder-green-500 text-sm rounded-lg focus:ring-green-500 focus:border-green-500 block w-full p-2.5 dark:bg-gray-700 dark:border-green-500
  }
  .error-msg {
    @apply mt-2 text-sm text-red-600 dark:text-red-500 capitalize
  }
  .invalid-btn {
    @apply ring-red-400
  }
}
